<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.shy.campusassistant.mapper.SessionMapper">

    <select id="selectByUserId" resultType="top.shy.campusassistant.entity.Session">
        SELECT * FROM session
        WHERE user_id = #{userId} AND deleted = 0
        ORDER BY update_time DESC
    </select>

</mapper>
